.btn-block{
	width: -webkit-fill-available;
	color: #FFDD55;
	font-size: 26px;
	margin: 22px;
	font-weight: bold;
}

body{
	text-align: center;
}

.item{
	width: 87%;
	display: inline-block;
}

.btn{
	margin-top: 36px;
}

h3,td,p{
	color: orange;
}
#search{
    height: 40px;
    width: 74px;
}